@import "tailwindcss";

@font-face{
    font-family:anzo1;
    src:url(./assets//file\ 2.woff2)
}

@font-face {
    font-family: anzo2;
    src: url(./assets//file.woff2);
}
@font-face {
    font-family: anzo3;
    src: url(./assets//file3.woff2);
}
@font-face {
    font-family: anzo4;
    src: url(./assets//file4.woff2);

}
@font-face {
    font-family: anzo5;
    src: url(./assets//Poppins-Regular.ttf);
}
.tiltDiv{
 
    width:fit-content;
   
}
#page1-in{
    position: relative;
    perspective: 2000px ;
}

#section2{
    position: relative;
    perspective: 3000px ;
   
}
.glow-text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
               0 0 20px rgba(255, 255, 255, 0.4),
               0 0 30px rgba(255, 255, 255, 0.2);
}

.rotateText{
 transform-origin: 100% 70%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  display: block;
}

.mobile-block {
  display: none;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #444;
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1063px) {
  .main {
    display: none;
  }

  .mobile-block {
    display: flex;
  }
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}